#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.leaflet-container {
  width: 80vw;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input {
  margin-bottom: 1.5em;
}

.card {
  padding: 2em;
}

.btn {
  margin: 1em;
}

.listItem {
  list-style: none;
}
