#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

/* #map {
  height: 180px;
} */

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input {
  margin-bottom: 1.5em;
}

.card {
  padding: 2em;
}

.btn {
  margin: 1em;
}
